menu "Example Configuration"

    config BLINK_GPIO
        int "Blink GPIO number"
        range 0 48
        default 2
        help
            GPIO number (IOxx) to blink on and off the LED.
            Default is GPIO 2 for typical ESP32 DevKit onboard LED.

    config BLINK_PERIOD
        int "Blink period in ms"
        range 10 3600000
        default 1000
        help
            Define the blinking period in milliseconds.

endmenu
